:root{
    --gray: #D5CACB;
    --blue: #0030BA;
}
html, body{
    height: 100vh;
    width: 100vw;
}
body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 4rem;
}
*{
    background-color: var(--gray);
}

.board-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(150px, 1fr));
    grid-template-rows: repeat(3, minmax(100px, 1fr));
    grid-gap: 10px;
    margin-top: 2rem;
    border: 1px solid black;
    padding: 1rem;
    width: 650px;
    height: 60%;
    overflow: auto;
  }
  
  .index{
    
    border: 1px solid var(--blue);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .index:nth-child(-n + 3){
    border-top: none;
  }

  .index:nth-child(3n){
    border-right: none;
  }

  .index:nth-child(3n  - 2) {
    border-left: none;
} 
.index:nth-child(n + 7) {
    border-bottom: none;
}