:root{
    --black: #292929;
    --gray: #D5CACB;
    --blue: #BAC5C8;
    --yellow: #FDEAC9; 
    --green: #D0DFD9;
    --dark-green: #67786E;
    --red: #F2BDB2;
    --grey-bg: #BDC8C7;
    --shadow-color: 156deg 9% 38%;
    --shadow-elevation-low:
      -0.7px 0.9px 1.4px hsl(var(--shadow-color) / 0.56),
      -3.3px 4.4px 6.8px -1.8px hsl(var(--shadow-color) / 0.78);
    --shadow-elevation-medium:
      -0.7px 0.9px 1.4px hsl(var(--shadow-color) / 0.53),
      -4.6px 6.1px 9.4px -0.9px hsl(var(--shadow-color) / 0.66),
      -16.6px 22px 33.9px -1.8px hsl(var(--shadow-color) / 0.8);
    --shadow-elevation-high:
      -0.7px 0.9px 1.4px hsl(var(--shadow-color) / 0.49),
      -9px 12px 18.5px -0.4px hsl(var(--shadow-color) / 0.55),
      -18.3px 24.4px 37.5px -0.7px hsl(var(--shadow-color) / 0.61),
      -33.3px 44.3px 68.2px -1.1px hsl(var(--shadow-color) / 0.68),
      -58.7px 78.1px 120.2px -1.4px hsl(var(--shadow-color) / 0.74),
      -99.3px 132px 203.2px -1.8px hsl(var(--shadow-color) / 0.8);
    --text-shadow-color: 0 1px 2px #687973,
    -1px 3px 1px #687973, 
    -2px 4px 1px #687973, 
    -3px 5px 1px #687973, 
    -4px 7px 1px #687973;
   
}
html, body{
    height: 100vh;
    width: 100vw;
    background-color: var(--grey-bg);
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    width: 100%;
}

.central-container{
    background-color: var(--green);
    padding: 25px 15px;
    width: minmax(25vw, 42vw);
    
    max-height: 90%;
    min-height: 60%;
    border-radius: 30px;
    box-shadow: var(--shadow-elevation-medium);
    display: flex;
    flex-direction: column;
}

.choice-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.choice-container>*{
    background-color: var(--green);
}

.board-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(90px, 180px));
    grid-template-rows: repeat(3, minmax(80px, 160px));
    background-color: var(--green);
    gap: 1rem;
    width: 100%;
    height: 100%;
    border-radius: 30px;
  }
  
  .index{  
    /* box-shadow: var(--shadow-elevation-low); */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--green);
    border-radius: 40%;
    transition: all ease 0.2s;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 800;
    font-size: 4rem;
    text-align: center;
    color: var(--red);
    text-shadow: var(--text-shadow-color);
  }


  .index:nth-child(2n){
    background-color: var(--yellow);
    box-shadow: inset 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  }
  .index:nth-child(2n):hover{
    background-color: var(--yellow);
    transform: translateY(5px);
    box-shadow: 
    inset 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
  }

  .index:not(:nth-child(2n)) {
    background-color: var(--blue);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    } 
    .index:not(:nth-child(2n)):hover {
        background-color: var(--blue);
        transform: translateY(-5px);
        box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.5);
    } 

.button-container{
    display: flex;
    gap: 2px;
}
.button {
    border: 2px solid var(--dark-green);
    border-radius: 15px;
    background-color: var(--green);
    color: var(--black);
    transition: all ease 0.2s;
    font-family: 'Noto Sans', sans-serif;
    padding: 1rem 3rem;
}

    .button:hover{
        transform: translateY(-2px);
        box-shadow: var(--shadow-elevation-low);
    }
#play-again{
    background-color: var(--red);
}

label{
    font-family: 'Noto Sans', sans-serif;
    padding: 1rem;
    color: var(--dark-green);
}