body{
    margin: 0;
}
.content{
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}
.splash{
    background-color: black;
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    flex: 1;
}
.rightdiv{
  flex: 1;
}